body {
  background-color: #777777;
}

.title {
  color: white;
  text-align: center;
}

.title h2 {
  font-weight: normal;
}

.wrapper {
  border-radius: 2%;
  background-color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 2em;
  -webkit-box-shadow: 0px 0px 30px;

}

img {
  border-radius: 8%;
  display: inline;
  max-width: 100%;
  border: black;
  border-width: .1em;
  border-style: solid;
  margin-left: 1em;
  margin-right: 1em;
}

/*.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}*/

.image {
  text-align: center;
}

.contained-text {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
