body {
  background-color: #47B0C5;
}

.face {
  background-color: #777777;
  width: 100%;
  margin-top: 2em;
}

.title {
  background-color: #777777;
  text-align: center;
}

.title h3 {
  color: white;
  font-weight: lighter;
}

#face {
  border-radius:45%;
  -webkit-box-shadow: 0px 5px 20px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg)

}

#name {
  font-weight: lighter;
  color: white;
}

.email {
  background-color: #777777;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.email a {
  color: white;
  font-weight: normal;
  font-size: .9em;
  padding-top: 1em;
}

.email a:hover {
  color: black;
}

.pure-menu {
  text-align: center;
  background-color: #eee;
  font-size: .9em;
}

#linkedin {
  border-left: #777777;
  border-right: #777777;
  border-left-size: .1em;
  border-right-size: .1em;
  border-left-style: groove;
  border-right-style: groove;
}

#resume-button {
  border-right: #777777;
  border-right-size: .1em;
  border-right-style: groove;
}

.pure-menu a {
  color: black;
  font-weight: bold;
}

.pure-menu-link:hover, .pure-menu-link:focus {
  background-color: #ddd;
}

.underface {
  text-align: center;
  background-color: white;
}

.underface-left {
  padding-top: 2em;
  font-size: .8em;
}

.underface-right {
  padding-top: 2em;
  font-size: .8em;
}

.underface-center .pure-menu-link {
  /*width: 60%;*/
  border: #777777;
  border-width:.1em;
  border-style:ridge;
  border-bottom: none;
  border-top:none;
  color: #777777;
  font-weight: bold;
}

#github {
  border-bottom: #3D2F91;
  /*border-bottom-width: .1em;
  border-bottom-style: groove;*/
}
#linkedin {
  border-bottom: #3D2F91;
  /*border-bottom-width: .1em;
  border-bottom-style: groove;*/
}



#bio {
  background-color: #47B0C5;
  padding-top: 2em;
  padding-bottom: 2em;
}

#about {
  border-right: #47B0C5;
  border-right-width: .1em;
  border-right-style: ridge;
}
#bio p {
  text-align: left;
  box-sizing:border-box;
}

#bio .pure-u-4-5 {
  text-align: left;
}


#extra {
  background-color: white;
}

#pdfholder {
  text-align: center;
  display:none;
}
